{% extends "ElFicticio/padre.html" %}

{% load static %}

{% block encabezado %}
<header class="masthead" style="background-image: url('/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>PERIÓDICO EL FICTICIO</h1>
                    <span class="subheading">Donde las noticias suelen ser falsas y buenas.</span>                            
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block Descripcion %}
<form action="" method="POST"> {% csrf_token %}

    {{formulario.as_p}}

    <button type="submit">Registrarse</button>

</form>
{% endblock %}
