{% extends "ElFicticio/padre.html" %}

{% load static %}

{% block encabezado %}

<!-- Page Header -->

<header class="masthead" style="background-image: url({% static 'ElFicticio/assets/img/home-bg.jpg' %})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>PERIÓDICO EL FICTICIO</h1>
                    <span class="subheading">Donde las noticias suelen ser falsas y buenas.</span>                            
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock %}

{% block Descripcion %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

    <!-- Post preview-->
        <div class="post-preview">
            <a href="{% url 'Publicaciones' %}">
                <h2 class="post-title">El hombre debe explorar, y esta es la exploración en su máxima expresión.</h2>
                <h3 class="post-subtitle">Los problemas parecen muy pequeños desde 240 kilómetros de altura.</h3>
            </a>
            <p class="post-meta">
                Posted by
                <a href="#!">Start Bootstrap</a>
                on September 24, 2022
            </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
                <a href="{% url 'Inexistente' %}"><h2 class="post-title">Creo que cada ser humano tiene un número finito de latidos del corazón.</h2>
                    <h3 class="post-subtitle">No tengo la intención de desperdiciar ninguno de los míos.</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Start Bootstrap</a>
                    on September 18, 2022
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
                <a href="{% url 'Inexistente' %}">
                    <h2 class="post-title">La ciencia aún no ha dominado la profecía.</h2>
                    <h3 class="post-subtitle">Predecimos demasiado para el próximo año y, sin embargo, demasiado poco para los próximos diez.</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Start Bootstrap</a>
                    on August 24, 2022
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
                <a href="{% url 'Inexistente' %}">
                    <h2 class="post-title">Fallar no es una opción</h2>
                    <h3 class="post-subtitle">Muchos dicen que la exploración es parte de nuestro destino, pero en realidad es nuestro deber para con las generaciones futuras.</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Start Bootstrap</a>
                    on July 8, 2022
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
    </div>
</div>
{% endblock %}

{% block Footer %}
<!-- Footer-->
<footer class="border-top">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="https://www.github.com">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <div class="small text-center text-muted fst-italic">Copyright &copy; Marianojoey 2023</div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}