{% extends "ElFicticio/padre.html" %}

{% load static %}


{% block encabezado %}

<!-- Page Header -->

<header class="masthead" style="background-image: url({% static 'ElFicticio/assets/img/post-bg.jpg' %})">

    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>El hombre debe explorar, y esta es la exploración en su máxima expresión</h1>
                    <h2 class="subheading">Los problemas parecen muy pequeños desde 240 kilómetros de altura.</h2>
                    <span class="meta">
                        Posted by
                        <a href="#!">Start Bootstrap</a>
                        on August 24, 2022
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock %}

{% block Descripcion %}

<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Nunca en toda su historia los hombres han sido capaces de concebir verdaderamente el mundo como uno: una sola esfera, un globo, que tiene las cualidades de un globo, una tierra redonda en la que todas las direcciones finalmente se encuentran, en la que no hay centro porque cada punto, o ninguno, es centro: una tierra igual que todos los hombres ocupan como iguales. La tierra del aviador, si la construyen hombres libres, será realmente redonda: un globo en la práctica, no en la teoría.</p>
                <p>La ciencia corta dos caminos, por supuesto; sus productos se pueden utilizar tanto para el bien como para el mal. Pero no hay vuelta atrás desde la ciencia. Las primeras advertencias sobre los peligros tecnológicos también provienen de la ciencia.</p>
                <p>Lo más significativo del viaje lunar no fue que el hombre pusiera un pie en la Luna sino que pusieran sus ojos en la tierra.</p>
                <p>Un cuento chino habla de unos hombres enviados para dañar a una joven que, al ver su belleza, se convierten en sus protectores en lugar de sus violadores. Así me sentí al ver la Tierra por primera vez. No pude evitar amarla y apreciarla.</p>
                <p>Para aquellos que han visto la Tierra desde el espacio, y para los cientos y quizás miles más que lo harán, la experiencia ciertamente cambia su perspectiva. Las cosas que compartimos en nuestro mundo son mucho más valiosas que las que nos dividen.</p>
                <h2 class="section-heading">La Frontera Final</h2>
                <p>No se puede pensar en terminar por 'apuntar a las estrellas'. Tanto en sentido figurado como literal, es una tarea para ocupar a las generaciones. Y no importa cuánto progrese uno, siempre existe la emoción de apenas comenzar.</p>
                <p>No se puede pensar en terminar por 'apuntar a las estrellas'. Tanto en sentido figurado como literal, es una tarea para ocupar a las generaciones. Y no importa cuánto progrese uno, siempre existe la emoción de apenas comenzar.</p>
                <blockquote class="blockquote">Los sueños de ayer son las esperanzas de hoy y la realidad de mañana. La ciencia aún no ha dominado la profecía. Predecimos demasiado para el próximo año y, sin embargo, demasiado poco para los próximos diez.</blockquote>
                <p>Los vuelos espaciales no se pueden detener. Este no es el trabajo de un solo hombre o incluso de un grupo de hombres. Es un proceso histórico que la humanidad está realizando de acuerdo con las leyes naturales del desarrollo humano.</p>
                <h2 class="section-heading">Alcanzando las Estrellas</h2>
                <p>A medida que nos alejábamos más y más, [la Tierra] disminuía de tamaño. Finalmente se encogió al tamaño de una canica, lo más hermoso que puedas imaginar. Ese hermoso, cálido y vivo objeto se veía tan frágil, tan delicado, que si lo tocabas con un dedo se desmoronaba y se desmoronaba. Ver esto tiene que cambiar a un hombre.</p>
                <a href="#!"><img class="img-fluid" src="{% static 'ElFicticio/assets/img/post-sample-image.jpg' %}" alt="..." /></a>
                <span class="caption text-muted">Ir a lugares y hacer cosas que nunca se han hecho antes, de eso se trata vivir.</span>
                <p>El espacio, la última frontera. Estos son los viajes de la Nave Enterprise. Su misión de cinco años: explorar nuevos mundos extraños, buscar nueva vida y nuevas civilizaciones, ir audazmente a donde ningún hombre ha ido antes.</p>
                <p>Mientras estoy aquí en las maravillas de lo desconocido en Hadley, me doy cuenta de que hay una verdad fundamental en nuestra naturaleza, el hombre debe explorar, y esta es la exploración en su máxima expresión.</p>
                <p>
                    Placeholder text by
                    <a href="http://spaceipsum.com/">Space Ipsum</a>
                    &middot; Images by
                    <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>
                </p>
            </div>
        </div>
    </div>
</article>

{% endblock %}

{% block Footer %}

<!-- Footer-->
<footer class="border-top">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="#!">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <div class="small text-center text-muted fst-italic">Copyright &copy; Your Website 2022</div>
            </div>
        </div>
    </div>
</footer>

{% endblock %}